{{/* 
  awards-best-series.html
  
  Shows only the Best Series winner prominently.
  
  Parameters (passed via .data):
    - year: The year to look up (e.g., "2025")
*/}}

{{ $year := .data.year | default "2025" }}

{{/* Collect all pages from series for this year */}}
{{ $seriesSection := printf "series%s" $year }}

{{ $winner := false }}
{{ with site.GetPage $seriesSection }}
    {{ range .Pages }}
        {{ $page := . }}
        {{ range .Params.nominations }}
            {{ if and (eq .category "best-series") .winner }}
                {{ $winner = $page }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<div class="list-columns {{ with .class }}{{ . }}{{ end }}" data-role="masonry">
    <div class="list-columns__item">
        <h4>best series</h4>
        <ul class="list-columns__list">
            {{ with $winner }}
            <li class="list-grid__list__item list-columns__item--highlight">
                <span>{{ .Title | safeHTML }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
