<footer>
  <div class="container">
    <div class="container__content">
      <ul class="nav__items">
        <li>
          <a href="">
            <svg viewBox="0 0 31 30" width="31px" height="30px">
              <use xlink:href="#icons-facebook" />
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="31px" height="26px" viewBox="0 0 31 26">
              <use xlink:href="#icons-twitter" />
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="30px" height="31px" viewBox="0 0 30 31">
              <use xlink:href="#icons-instagram" />
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="30px" height="26px" viewBox="0 0 30 26">
              <use xlink:href="#icons-vimeo" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
