<head>
  <title>{{ .Title }} | die seriale</title>
  <link rel="stylesheet" href="/css/main.css?v2" />

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <meta
    name="description"
    content="die seriale is the oldest festival in Germany dedicated to present and celebrate digital series."
  />

  <!-- Open Graph -->
  <meta
    property="og:description"
    content="Join the oldest festival in Germany, dedicated to present and celebrate short form digital series."
  />
  <meta property="og:title" content="die seriale - 11th International Series Festival Giessen" />
  <meta property="og:url" content="https://www.die-seriale.de/" />
  <meta property="og:image" content="https://www.die-seriale.de/img/fb.jpg" />

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
</head>
