<nav class="nav">
  <div class="container">
    <div class="container__content">
      <div class="nav__container">
        <span class="notice">9th digital series festival giessen</span>
        <a href="/" class="logo">
          <span class="logo-container-seriale">
            <img src="/img/logo.png" class="logo__symbol" /><img
              class="logo__typo"
              src="/img/die-seriale-typo.png"
            />
            <em>June 14th-19th 2023</em>
          </span>
          <span class="logo-container-seriale-pro">
            <img src="/img/logo-pro.png" class="logo__symbol" /><img
              class="logo__typo"
              src="/img/seriale-pro.png"
            />
            <em>June 14th-19th 2023</em>
          </span>
        </a>
        <input type="checkbox" id="nav-toggle" />
        <ul class="nav__items">
          {{ $currentNode := . }} {{ range .Site.Menus.main }}
          <li>
            <a
              class='{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}'
              href="{{.URL}}"
              >{{ .Name }}</a
            >
          </li>
          {{ end }}
        </ul>
        <label for="nav-toggle" class="nav__burger"></label>
      </div>
    </div>
  </div>
</nav>
