<nav class="nav">
  <div class="container">
    <div class="container__content">
      <a href="/" class="logo">
        <img src="/img/logo.png" /> die seriale <em>june 13th-16th 2019</em>
      </a>

      <ul class="nav__items">
        <li>
          <a href="">home</a>
        </li>
        <li>
          <a href="">festival</a>
        </li>
        <li>
          <a href="">seriale pro</a>
        </li>
        <li>
          <a href="">archive</a>
        </li>
        <li>
          <a href="">press</a>
        </li>
        <li>
          <a href="">blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
