<nav class="nav">
  <div class="container">
    <div class="container__content">
      <div class="nav__container">
        <span class="notice">5th digital series festival giessen</span>
        <a href="/" class="logo">
          <img src="/img/logo.png" class="logo__symbol" /><img class="logo__typo" src="/img/die-seriale-typo.png" /> <em>june 13th-16th 2019</em>
        </a>
        <ul class="nav__items">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
            <li>
              <a class='{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}' href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</nav>