<ul class="social-media-list">
  <li>
    <a href="https://www.facebook.com/dieseriale/" target="_blank">
      <svg viewBox="0 0 31 30" width="31px" height="30px">
        <use xlink:href="#icons-facebook" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/dieSeriale" target="_blank">
      <svg width="31px" height="26px" viewBox="0 0 31 26">
        <use xlink:href="#icons-twitter" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/dieSeriale/" target="_blank">
      <svg width="30px" height="31px" viewBox="0 0 30 31">
        <use xlink:href="#icons-instagram" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://vimeo.com" target="_blank">
      <svg width="30px" height="26px" viewBox="0 0 30 26">
        <use xlink:href="#icons-vimeo" />
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/channel/UCcnylLeG8dN7MIpMnsBmACA"
      target="_blank"
    >
      <svg width="34px" height="26px" viewBox="0 0 34 26">
        <use xlink:href="#icons-youtube" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.twitch.tv/dieseriale" target="_blank">
      <svg width="50px" height="40px" viewBox="0 0 50 40">
        <use xlink:href="#icons-twitch" />
      </svg>
    </a>
  </li>
</ul>
