{{ with.data }}
<div class="special-teaser__container">
  <div class="special-teaser">
    <div class="special-teaser__header">
      <div class="special-teaser__header__text">
        <h3>festival</h3>
        <span>june 13th-16th 2019</span>
      </div>
      <img src="img/festival-bg.jpg" />
    </div>
    <div class="special-teaser__body">
      <p>
        On four festival days all Official Selection series will be screened in
        the movie theater and open air. The Educational offers a conference with
        panel discussions and lectures. The most outstanding series will be
        honored with “die Seriale” awards, selected by an international expert
        jury.
      </p>
      <ul>
        <li>Screenings</li>
        <li>Q&As</li>
        <li>Lectures</li>
        <li>Workshops</li>
        <li>Networking</li>
        <li>Award Ceremony</li>
      </ul>
    </div>
  </div>
  <div class="special-teaser">
    <div class="special-teaser__header">
      <div class="special-teaser__header__text">
        <h3 class="pro-color">seriale pro</h3>
        <span>june 15th-16th 2019</span>
      </div>
      <img src="img/seriale-pro-bg.jpg" />
    </div>
    <div class="special-teaser__body">
      <p>
        The Seriale Pro offers a business platform for the digital series
        industry. During two Business Days international guests will present
        insights in the mechanisms of the global digital series market. For the
        first time the DIMA Giessen will be held, in cooperation with "Bilbao
        Seriesland".
      </p>
      <ul>
        <li>DIMA Giessen - Digital Market</li>
        <li>Matchmaking | Speedmeetings</li>
        <li>Pitch Contest</li>
        <li>Co-Production Market</li>
        <li>Business Talks</li>
        <li>Panel Discussions</li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
