{{ with .data }}
  <div class="tabs tabs--{{ .variant }}">
    <div class="tabs__header">
      <h2>{{ .headline }}</h2>
      <p>{{ .intro }}</p>
      <img src="{{ .background }}">
    </div>
    <div class="tabs__body">

      {{range $index, $tab := .tabs}}
        <input type="radio" id="tab-{{ $index }}" name="tabs"{{ if (eq $index 0) }} checked{{end}}>
        
      {{ end }}

      <div class="tabs__body__nav">
      {{range $index, $tab := .tabs}}
        <label for='tab-{{ $index }}' class="button">{{ $tab.title }}</label>
      {{ end }}

      </div>

      <div class="tabs__body__content">
      {{range $index, $tab := .tabs}}
        <div class="content">
          {{ partial $tab.partial $tab.data }}
        </div> 
      {{ end }}
      </div>

    </div>
  </div>
{{ end }}