{{ with .data}}
<div class="teaser-grid {{if .col4}}teaser-grid--col-4{{ end }}">
    <ul class="teaser-grid__list">
        {{ range where $.Page.Site.Pages "Section" .list }}
        <li class="teaser-grid__list__item">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.Image }}" />
                <h4>{{ .Title }}</h4>
                <p>{{ .Params.Shortdescription }}</p>
            </a>
        </li>
        {{ end }}
        {{ range .teasers}}
        <li class="teaser-grid__list__item">
            <div class="teaser-grid__list__item__image-container">
                <img src="{{ .image }}" />
            </div>
            <h4>{{ .title }}</h4>
            <p>{{ .shortdescription }}</p>
            {{if .button}}
                <a href="{{ .button.href }}" class="button button--external">{{ .button.text }}</a>
            {{end}}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}