{{ with .data}}
<div class="thumb-grid">
    <ul class="thumb-grid__list">
        {{ range where $.Page.Site.Pages "Section" .list }}
            {{ if .Params.Image }}
                <li class="thumb-grid__list__item">
                    <a href="{{ .Permalink }}" data-role="overlay-large" data-barba-prevent>
                        <img src="{{ .Params.Image }}" />
                        <span>{{ .Title }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}