{{ with.data }}
<div class="time-table">
  <div class="time-table__container">
    {{ range.days }}
    <div class="time-table__day">
      <h3>{{ .title }}</h3>
      {{ range.blocks }}
      <div
        class="time-table__day__block{{ with .blocks}} time-table__day__block--parent{{end}} time-table__day__block--size-{{ .size }} time-table__day__block--start-{{ .start }}{{ with .pro }} time-table__day__block--pro{{ end }}"
      >
        {{ with .time}}
        <time>{{ . }}</time>
        {{ end }} {{ with .title}}
        <h4>{{ . }}</h4>
        {{ end }}
        <em> {{ with .location}} {{ . }} {{ end }} </em>

        {{ range.blocks }}
        <div
          class="time-table__day__block time-table__day__block--start-{{ .start }} {{ with .pro }} time-table__day__block--pro{{ end }}"
        >
          <time>{{ .time }}</time>
          <h4>{{ .title }}</h4>
          <em> {{ with .location}} {{ . }} {{ end }} </em>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ with.full }}
  <div class="time-table__full">
    <div class="time-table__day">
      <div class="time-table__day__block">
        {{ with.logo }}
        <img src="{{.}}" />
        {{ end }} {{ with .time}}
        <time>{{ . }}</time>
        {{ end }} {{ with .title}}
        <h4>{{ . }}</h4>
        {{ end }}
        <em> {{ with .location}} {{ . }} {{ end }} </em>
        {{ with.button }}
        <a class="button button--small" target="_blank" href="{{ .href }}">{{ .text}}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
