.button {
  display: inline-block;
  background-image: linear-gradient(to bottom, #000000 0%,#000000 50%,var(--mainColor) 50%,var(--mainColor) 100%);
  background-size: 100% 200%;
  background-position: 0 100%;
  color: white;
  font-size: 24px;
  font-family: "Roboto Slab";
  font-weight: 700;
  padding: 18px 36px;
  transition: 0.3s ease-in-out;
  align-self: flex-start;

  .seriale-pro & {
    background-image: linear-gradient(to bottom, #000000 0%,#000000 50%,var(--proColor) 50%,var(--proColor) 100%);
  }

  &:hover {
    background-position: 0 0;
    color: white;
  }

  &--inactive {
    background-color: var(--mainColorInactive);
  }

  &--secondary, .seriale-pro &--secondary {
    background: black;

    &:hover {
      background: var(--mainColor);
    }
  }
  .seriale-pro &--secondary:hover {
    background: var(--proColor);
  }

  &--external {
    background-color: var(--backgroundGrey);
    background-image: none;
    color: var(--mainColor);
    font-family: "Roboto";
    font-size: 18px;
    padding: 12px 26px;


    &:hover {
      background: var(--mainColor);
      color: white;
    }
  }

  @media(--small-viewport) {
    font-size: 20px;
    padding: 12px 24px;
  }
}
