/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v18-latin-regular.woff2") format("woff2"),
       url("/fonts/roboto-v18-latin-regular.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v18-latin-700.woff2") format("woff2"),
       url("/fonts/roboto-v18-latin-700.woff") format("woff");
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-slab-v7-latin-700.woff2") format("woff2"),
       url("/fonts/roboto-slab-v7-latin-700.woff") format("woff");
}
