footer {
  height: 200px;
  background: black;
  color: white;
  width: 100%;
  margin-top: 130px;
  z-index: 2000;

  .container {
    height: 100%;
  }

  .container__content {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__items {
    margin-left: auto;
    display: flex;

    li {
      margin-right: 24px;
    }

    a {
      font-weight: 700;
      font-size: 18px;


    }
  }
}
