.large-teaser {
  height: 280px;
  width: 100%;
  background: black;
  display: flex;
  @apply --font-style-medium;
  color: var(--mainColor);
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
  flex-direction: column;

  .text {
    color: white;
  }

  .button {
    align-self: center;
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 10px solid var(--mainColor);
    position: absolute;
    left: 10px;
    top: 10px;
  }

}