.list-grid {

  &__intro {
    color: var(--flowTextColor);
    line-height: 1.5;
    width: 46%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-left: 0;


    &__item {
      position: relative;
      height: 60px;
      margin: 12px 0 0 12px;
      overflow: hidden;
      width: calc(33.333% - 12px);
      background: var(--backgroundGrey);
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 0 30px;
      line-height: 1.2;

      span {
        padding-right: 30px;
      }

      em {
        color: var(--mainColor);
        margin-left: auto;
      }
    }
  }
}