.list-columns {
  margin-left: -20px;

  &__intro {
    padding: 20px 30px 15px;
    line-height: 1.5;
    height: 144px;
    margin-bottom: 0;

    a {
      color: var(--mainColor);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    em {
      color: var(--mainColor);
      text-transform: lowercase;
      font-weight: 700;
    }
  }

  .list-columns__item {
    width: 33%;
    padding-left: 12px;

    &--highlight {
      border: 3px solid var(--mainColor);
      overflow: visible;
      margin-top: 30px !important;

      &:before {
        content: "winner";
        position: absolute;
        left: -3px;
        bottom: 100%;
        background: var(--mainColor);
        padding: 4px 6px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    @media (--medium-viewport) {
      width: 50%;
    }

    @media (--small-viewport) {
      width: 100%;
    }

    h4 {
      background: var(--mainColor);
      color: white;
      height: 132px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 30px;
    }
  }

  .list-columns__list {
    margin-bottom: 12px;
    padding-left: 0;
  }

  .list-grid__list__item {
    margin-left: 0;
    width: 100%;
    margin-top: 12px;
  }
}

.list-columns--compact {
  font-size: 14px;
  .list-columns__item {
    margin-bottom: 20px;

    h4 {
      background: black;
      color: var(--mainColor);
      height: auto;
      font-size: 16px;
      padding: 12px 8px;
    }
  }

  .list-grid__list__item {
    background: transparent;
    height: auto;
    padding: 0px;
  }

  .list-columns__item--highlight {
    background: var(--mainColor);
    color: white;
    padding: 4px 4px;
  }
}

.list-columns--two-col {
  .list-columns__item {
    width: 50%;

    @media (--small-viewport) {
      width: 100%;
    }
  }
}

.list-columns--css-columns {
  .list-columns__item {
    width: 100%;
  }

  .list-columns__list {
    column-count: 2;
    column-gap: 20px;

    @media (--small-viewport) {
      column-count: 1;
    }
  }

  .list-grid__list__item {
    break-inside: avoid;
    margin-top: 0;
    padding-top: 12px;
  }
}
