@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav {
  top: 0;
  height: 212px;
  background: black;
  color: white;
  width: 100%;
  z-index: 2000;
  position: absolute;

  .container {
    height: 100%;
  }

  &__container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    @apply --font-style-medium;

    img {
      margin-right: 15px;
    }

    em {
      margin-left: 10px;
      color: var(--mainColor);

      @media(--medium-viewport) {
        font-size: 16px;
      }
      @media(--small-viewport) {
        font-size: 14px;
      }
      @media(--small-viewport) {
        font-size: 12px;
      }
    }
    .logo-container-seriale {
      display: flex;
      align-items: center;
    }

    .logo-container-seriale-pro {
      display: none;
      align-items: center;
    }
  }

  .notice {
    position: absolute;
    right: 0;
    top: 0;
    /* background: var(--mainColor); */
    background-color: rgba(227,204,99,1);
    background-image: linear-gradient(195deg, rgba(227,204,99,1) 0%, rgba(227,204,99,1) 36%, rgba(242,233,191,0.5) 50%, rgba(227,204,99,1) 65%, rgba(227,204,99,1) 100%);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite normal;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    padding: 10px 30px;
    box-shadow: #cfc09f 0 0 30px;
  }

  .container__content {
    height: 100%;
    margin-top: 0 !important;
  }

  &__items {
    margin-left: auto;
    display: flex;
    list-style: none;

    li {
      margin-right: 16px;
    }

    a {
      font-weight: 700;
      font-size: 18px;

      &.active {
        color: var(--mainColor);
      }
    }

    @media(--medium-viewport) {
      .nav & {
        position: fixed;
        display: flex;
        top: 180px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        z-index: 2222;
        margin-left: -40px;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5s ease-in-out;

        flex-direction: column;
        li {
          margin-left: 54px;
          margin-top: 40px;

          a {
            font-size: 24px;
          }
        }
      }
    }

    @media(--small-viewport) {
      .nav & {
        top: 120px;
        margin-left: -20px;
      }
    }
    @media(--very-small-viewport) {
      .nav & {
        top: 80px;
      }
    }
  }

  &.seriale-pro {
    .logo {
      .logo-container-seriale {
        display: none;
      }

      .logo-container-seriale-pro {
        display: flex;
      }
    }

    .nav__items a.active, .logo em, .nav__items a:hover {
      color: var(--proColor);
    }
    .notice {
      background-color: var(--proColor);
    }
  }

  &__burger {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
    display: none;

    &:before, &:after {
      content: "";
      height: 2px;
      width: 100%;
      background: white;
      display: block;
      position: absolute;
      top: 6px;
      transform-origin: center center;
      transition: 0.3s ease-in-out;
    }

    &:after {
      top: 16px;
    }

    @media(--medium-viewport) {
      display: block;
    }
  }

  #nav-toggle {
    position: absolute;
    left: -2000%;
  }

  #nav-toggle:checked ~ .nav__items {
    transform: translateX(0);
    opacity: 1;
  }

  #nav-toggle:checked ~ .nav__burger {
    &:before {
      transform: rotate(45deg) translateY(7px);
    }
    &:after {
      transform: rotate(-45deg) translateY(-7px);
    }
  }

  @media(--medium-viewport) {
    height: 180px;
  }
  @media(--small-viewport) {
    height: 120px;
    &__container {
      padding-top: 0;
    }

    .notice {
      display: none;
    }
  }
  @media(--very-small-viewport) {
    height: 80px;
  }
}
