.nav {
  top: 0;
  height: 212px;
  background: black;
  color: white;
  width: 100%;
  z-index: 2000;
  position: absolute;

  .container {
    height: 100%;
  }

  &__container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    @apply --font-style-medium;

    img {
      margin-right: 15px;
    }

    em {
      margin-left: 10px;
      color: var(--mainColor);
    }
  }

  .notice {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--mainColor);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    padding: 10px 30px;
  }

  .container__content {
    height: 100%;
    margin-top: 0 !important;
  }

  &__items {
    margin-left: auto;
    display: flex;
    list-style: none;

    li {
      margin-right: 24px;
    }

    a {
      font-weight: 700;
      font-size: 18px;

      &.active {
        color: var(--mainColor);
      }
    }
  }

  @media(--medium-viewport) {
    height: 180px;
  }
  @media(--small-viewport) {
    height: 120px;
    &__container {
      padding-top: 0;
    }

    .notice {
      display: none;
    }
  }
  @media(--very-small-viewport) {
    height: 80px;
  }
}
