section {
  h2 {
    text-transform: lowercase;
    margin-bottom: 60px;
    display: flex;
    align-items: center;

    @media(--large-viewport) {
      margin-bottom: 40px;
    }
    @media(--medium-viewport) {
      margin-bottom: 30px;
    }
    @media(--small-viewport) {
      margin-bottom: 20px;
    }

    &:before {
      margin-right: 26px;
    }
  }

  &:nth-child(1),
  &:nth-child(9),
  &:nth-child(5) {
    h2:before {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2296px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2096%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Seriale---Official-Selection%22%20transform%3D%22translate(-160.000000%2C%20-345.000000)%22%20fill%3D%22%2350D2D4%22%3E%20%3Cg%20id%3D%22official-selection%22%20transform%3D%22translate(160.000000%2C%20327.000000)%22%3E%20%3Cg%20id%3D%22Group-4%22%3E%20%3Cpath%20d%3D%22M44.026032%2C55.8344721%20C55.3454183%2C45.0505334%2063.3383309%2C32.6787856%2068.0047697%2C18.7192287%20C76.5606117%2C21.5078834%2085.8923551%2C24.597745%2096%2C27.9888134%20C89.2735276%2C48.0610248%2078.7910063%2C64.4916774%2064.5524359%2C77.2807713%20L44.0503737%2C55.9112256%20C33.1399114%2C66.1981497%2019.8475166%2C73.3213316%204.17318923%2C77.2807713%20L3.55271368e-13%2C59.9410691%20C11.638419%2C57.2864902%2022.2379046%2C51.5586805%2031.7984567%2C42.7576398%20L44.026032%2C55.8344721%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
    }
  }
  &:nth-child(2),
  &:nth-child(10),
  &:nth-child(6) {
    h2:before {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2260px%22%20height%3D%22111px%22%20viewBox%3D%220%200%2060%20111%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Seriale---Home-Launch%22%20transform%3D%22translate(-160.000000%2C%20-1836.000000)%22%20fill%3D%22%2350D2D4%22%3E%20%3Cg%20id%3D%22the-venue%22%20transform%3D%22translate(-474.866889%2C%201835.000000)%22%3E%20%3Cg%20id%3D%22HL%22%20transform%3D%22translate(633.000000%2C%200.000000)%22%3E%20%3Cg%20id%3D%223%22%20transform%3D%22translate(31.366889%2C%2056.300476)%20rotate(-270.000000)%20translate(-31.366889%2C%20-56.300476)%20translate(-24.133111%2C%2025.800476)%22%3E%20%3Cpath%20d%3D%22M37.1087551%2C24.9700227%20L31.5451397%2C59.3982445%20C24.205019%2C58.0674513%2016.3137647%2C58.2784869%207.8713766%2C60.0313516%20C4.69642365%2C45.0689606%202.30189909%2C33.668229%200.687802904%2C25.829157%20C12.8281203%2C23.2911551%2024.9684377%2C23.004777%2037.1087551%2C24.9700227%20Z%20M41.2349062%2C0.127779296%20C67.9397604%2C4.5568377%2090.9676352%2C16.4582504%20110.31853%2C35.8320174%20C104.232625%2C41.759852%2098.2709628%2C47.6371379%2092.4335451%2C53.4638752%20C76.6623762%2C37.8676084%2058.2207795%2C28.3696575%2037.1087551%2C24.9700227%20L41.2349062%2C0.127779296%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
    }
  }
  &:nth-child(3),
  &:nth-child(11),
  &:nth-child(7) {
    h2:before {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2295px%22%20height%3D%2271px%22%20viewBox%3D%220%200%2095%2071%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Seriale---Home%22%20transform%3D%22translate(-161.000000%2C%20-2803.000000)%22%20fill%3D%22%2350D2D4%22%3E%20%3Cg%20id%3D%22the-speakers%22%20transform%3D%22translate(160.000000%2C%202803.000000)%22%3E%20%3Cpath%20d%3D%22M47.3551365%2C23.203943%20C43.5276231%2C26.932797%2039.7776112%2C30.6301196%2036.1051006%2C34.2959107%20C26.0978602%2C24.3996506%2014.39616%2C18.3729396%201%2C16.2157778%20L3.61815633%2C0.452691253%20C20.5612848%2C3.26274612%2035.1717742%2C10.8131879%2047.4496245%2C23.1040166%20C54.8868186%2C15.8648412%2061.1591382%2C9.7195791%2066.2665835%2C4.66823027%20C83.3570416%2C22.4626198%2093.2681805%2C43.4766537%2096%2C67.7103321%20L69.8257541%2C70.3226346%20C68.0987821%2C52.6112337%2060.6085763%2C36.9050032%2047.3551365%2C23.203943%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
    }
  }
  &:nth-child(4),
  &:nth-child(12),
  &:nth-child(8) {
    h2:before {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2297px%22%20height%3D%22106px%22%20viewBox%3D%220%200%2097%20106%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Seriale---Home-Launch%22%20transform%3D%22translate(-161.000000%2C%20-5244.000000)%22%20fill%3D%22%2350D2D4%22%3E%20%3Cg%20id%3D%22contact-footer%22%20transform%3D%22translate(1.098860%2C%205147.199524)%22%3E%20%3Cg%20id%3D%22HL%22%20transform%3D%22translate(160.000000%2C%2096.000000)%22%3E%20%3Cpath%20d%3D%22M50.3808408%2C39.5498725%20L93.0156443%2C29.730725%20C98.5554513%2C56.5314844%2096.3826736%2C82.0080515%2086.4973113%2C106.160426%20L46.1774207%2C89.1486562%20C52.6978083%2C72.7109187%2054.0965734%2C56.182383%2050.3737162%2C39.563049%20L10.735271%2C48.598572%20C7.65603637%2C36.291379%200.823318984%2C30.3361225%208.52651283e-14%2C29.4442237%20C10.1317685%2C19.6665438%2014.8576411%2C15.0742213%2029.0338152%2C0.839573932%20C39.5616051%2C11.034649%2046.6772803%2C23.9380819%2050.3808408%2C39.5498725%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
    }
  }


  & + & {
    margin-top: 120px;

    @media(--large-viewport) {
      margin-top: 100px;
    }
    @media(--medium-viewport) {
      margin-top: 80px;
    }
    @media(--small-viewport) {
      margin-top: 40px;
    }
  }
}