.stage {
  background: black;
  color: white;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;

  @media(--small-viewport) {
    padding-bottom: 100%;
  }

  &:before {
    content: "";
    background: black;
    height: 506px;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -100px;

    @media(--medium-viewport) {
      display: none;
    }
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    @media(--small-viewport) {
      width: 178%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

    &__slide {
      width: 100%;
      height: 100%;
      padding: 36px 80px 130px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      position: absolute;
      top: 0;

      &__text {
        @apply --font-style-very-large-slab;
        text-transform: lowercase;
        transform-origin: 0 0;
        width: 200%;
        padding-left: 100%;
        margin-left: -100%;
      }

      .button {
        position: absolute;
        right: 80px;
        bottom: 72px;
      }

      svg {
        color: var(--mainColor);
      }


      @media(--large-viewport) {
        padding: 20px 40px 100px;

        .button {
          right: 40px;
          bottom: 40px;
        }

      }

      @media(--medium-viewport) {
        padding: 0px 40px 80px;

        svg {
          width: 120px;
          height: 120px;
        }
      }

      @media(--small-viewport) {
        padding: 0px 20px 80px;

        .button {
          right: 20px;
          bottom: 20px;
        }
        svg {
          width: 80px;
          height: 80px;
          margin-bottom: 10px;
        }
      }
      @media(--very-small-viewport) {
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &__timeline {
    position: absolute;
    bottom: 88px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;

    @media(--large-viewport) {
      bottom: 64px;
    }
    @media(--medium-viewport) {
      bottom: -1px;
      width: calc(100% + 12px);
      left: 0;
      margin-left: -12px;
      transform: translateX(0);
    }

    li {
      width: 100%;
      height: 30px;
      margin-left: 12px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &:after {
        content: "";
        background: rgba(255,255,255,0.17);
        height: 4px;
        width: 100%;
        position: absolute;
        top: 50%;
      }

      span {
        position: absolute;
        background: var(--mainColor);
        display: block;
        top: 50%;
        height: 4px;
        width: 100%;
        transform: translateX(-100%);
      }

      @media(--medium-viewport) {
        height: 10px;
      }
    }
  }
}


.seriale-pro .stage__slider__slide svg {
  color: var(--proColor);
}