.teaser-grid {

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-left: 0;
    width: calc(100% + 12px);

    @media(--small-viewport) {
      flex-direction: column;
    }

    &__item {
      position: relative;
      margin: 20px 0 0 12px;
      overflow: hidden;
      width: calc(33.333% - 12px);
      display: flex;
      flex-direction: column;

      img {
        display: block;
        margin-bottom: 10px;
        width: 100%;
      }

      a img {
        @media(--small-viewport) {
          display: none;
        }
      }

      a {
        @media(--small-viewport) {
          &:after {
            content: "read bio";
            background: black;
            font-family: "Roboto Slab";
            font-weight: 700;
            font-size: 16px;
            padding: 10px 12px;
            color: white;
            display: inline-block;
            margin-top: 10px;
          }
        }

      }

      h4 {
        margin-bottom: 5px;
      }

      p {
        line-height: 1.5;
        color: var(--flowTextColor);
        padding-right: 17%;
        margin-bottom: 20px;
      }

      .button {
        margin-top: auto;
        flex: 0 0 auto;
      }
      
      @media(--small-viewport) {
        width: 100%;

        & + & {
          margin-top: 20px;
        }
      }

    }
  }

  &--col-4 {
    .teaser-grid__list .teaser-grid__list__item {
      width: calc(25% - 12px);
    }
    .teaser-grid__list .teaser-grid__list__item img {
      margin-bottom: 15px;
    }
    .teaser-grid__list .teaser-grid__list__item h4 {
      margin-bottom: 5px;
    }


    @media(--medium-viewport) {
      .teaser-grid__list .teaser-grid__list__item {
        width: calc(33% - 12px);
      }
    }

    @media(--small-viewport) {
      .teaser-grid__list {
        flex-direction: row;
      }

      .teaser-grid__list .teaser-grid__list__item {
        width: calc(50% - 12px);
      }
    }

    @media(--very-small-viewport) {
      .teaser-grid__list {
        flex-direction: row;
      }

      .teaser-grid__list .teaser-grid__list__item {
        width: calc(50% - 12px);
      }
    }
  }
}