.text {
    @apply --font-style-flow;

    &__columns {
        column-count: 2;
        column-gap: 8%;

        @media(--small-viewport) {
            column-count: 1;
        }

        p {
            break-inside: avoid-column;
        }
    }
}
