<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body >

    <div class="page" data-scrollbar>
      <div data-barba="wrapper">
        {{ partial "nav" . }}
        <div data-barba="container" {{ if eq .File.LogicalName "seriale-pro.md" }} class="seriale-pro"{{ end }}>

          <div class="container">{{ block "main" . }}{{ end }}</div>
        </div>
      </div>
      {{ partial "footer" . }}
    </div>
    <div class="page-transition"></div>

    {{ partial "svg" . }}

    <div class="overlay-container">
      <div class="container">
        <div class="container__content">
          <div class="overlay">
            <a href="javascript:;" class="button button--secondary overlay__close">close</a>
            <div class="overlay-content"></div>
            <div class="overlay-content__mask"></div>
            <div class="overlay-content__loading"><img src="/img/loader.svg"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
