{{ define "main" }}
  <section class="container__content">
    <p class="date date--single">{{ .Date.Format "Mon Jan 2, 2006" }}</p>
    <h2>{{ .Title }}</h2>
    <article class="blog">
      {{ if .Params.Image}}
        <img src="{{ .Params.Image }}">
      {{ end }}
      {{ if .Params.Youtube}}
        <div class="video">
          <iframe width="850" height="480" src="https://www.youtube.com/embed/{{ .Params.Youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {{ end }}
      <div class="text">{{ .Content }}</div>
    </article>
  </section>
  <!-- <section>
    <h2>{{.Title}}</h2>
    <div class="text">
      <div class="text__columns">
        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
        <p>Read in {{ .ReadingTime }} minutes</p>
        <p>{{ .Description }}</p>
        {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
        {{ .Content }}
      </div>
    </div>
  </section> -->
{{ end }}
