/* External Library Includes */
@import "./imports/_reset";

/* Modules */
@import "./imports/_variables.css";
@import "./imports/_fonts.css";
@import "./imports/_section.css";
@import "./imports/_logo.css";
@import "./imports/_nav.css";
@import "./imports/_stage.css";
@import "./imports/_button.css";
@import "./imports/_thumb-grid.css";
@import "./imports/_teaser-grid.css";
@import "./imports/_footer.css";
@import "./imports/_container.css";
@import "./imports/_special-teaser.css";
@import "./imports/_tabs.css";
@import "./imports/_headlines.css";
@import "./imports/_text.css";
@import "./imports/_slider.css";
@import "./imports/_list-grid.css";
@import "./imports/_forms.css";
@import "./imports/_text-and-image.css";
@import "./imports/_grid.css";

body {
  font-family: Roboto;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.page {

  &[data-scrollbar] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .scroll-content {
    padding-top: 211px;
    position: relative;
    /* padding-top: 212px; */
  }
}

.pro-color {
  color: var(--proColor);
}

p {
  margin-bottom: 24px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

a:hover {
  color: var(--mainColor);
}